.eventsTable thead {
    font-family: 'Roboto Bold';
    font-size: 18px;
}

.eventsTable svg {
    margin-left: 5px;
    padding: 3px;
    cursor: pointer;
}

.form {
    text-align: initial;
    margin-top: 5px;
    margin-bottom: 5px;
}

.eventsTable button {
    color: black;
    width: 10rem;
    height: 1.5rem;
    background: var(--button-color);
    border: none;
    border-radius: calc(var(--buton-border) / 4);
    cursor: pointer;
}

.eventsTable button:hover {
    background: var(--button-hover-color);
}