.tabContent {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    width: 100%;
}

.eventsTable {
    display: block;
    overflow: auto;
    max-height: calc(85vh - 200px);
    margin: 0;
}

.eventsTable thead, .eventsTable tbody {
    display: inline-table;
    min-width: 100%;
}

.eventsTable thead {
    font-family: 'Roboto Bold';
    font-size: 18px;
}

.eventsTable svg {
    margin-left: 5px;
    padding: 3px;
    cursor: pointer;
}

.eventsTable tr {
    height: 5rem;
    vertical-align: middle;
}

.eventsTable td {
    min-width: 100px;
}

.form {
    text-align: initial;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.eventsTable button {
    color: black;
    width: 10rem;
    height: 1.5rem;
    background: var(--button-color);
    border: none;
    border-radius: calc(var(--buton-border) / 4);
    cursor: pointer;
}

.eventsTable button:hover {
    background: var(--button-hover-color);
}

@media (max-width: 1100px) {
    .eventsTable thead {
        font-size: 14px;
    }

    .eventsTable tbody {
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .eventsTable thead {
        font-size: 12px ;
    }

    .eventsTable tbody {
        font-size: 10px ;
    }
}